{%extends 'template.html'%}


{%block body_additions%}
<div class="list-group">
    {% for u in users:%}
    {% if user.id != u.id:%}
    <a class="list-group-item d-flex list-group-item-action justify-content-between align-items-center" href="/message/{{u.id}}">
      {{u.username}}
      <span id="user{{u.id}}" class="badge bg-primary rounded-pill">{{unseen[u.id]}}</span>
    </a>
    {%endif%}
    {%endfor%}
<script type="text/javascript" charset="utf-8">
    socket.on('connect', function() {
        // socket.emit('message', {message: 'This is a test message', receiver: 'kik2'});
        console.log('Connected');
    });
    socket.on('receive', function(resp) {
      document.getElementById(`user${resp.sender}`).innerHTML = resp.unread;
      console.log('Received a message', resp)
    });
</script>
</div>

{%endblock%}