{%extends 'template.html'%}

{%block body_additions%}
<h1 id="competition-header"></h1>
<h3 id="score-count"></h3>
<script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.8.0/p5.js"></script>
<script>
    /**
     * The JSON object that contains all of the moves that were
     * made by the AIs.
     */
    let gameplay = JSON.parse(atob(`{{gameplay}}`));
    /**
     * The board instance
     */
    let board = [];
    let board_positions = [];
    /**
     * An object that shows how many pieces are
     * hit for each player 
     */
    let hits = {'white' : 0, 'black': 0};
    /**
     * The dies that the player rolls
     */
    let dies = [];
    /**
     * The count of the scores
     */
    let scores = {white: 0, black: 0};
    /**
     * A float that indicates when to make the next move
     */
    let move_time = 0;
    /**
     * width and height of the canvas
     */
    let page_x = 600, page_y = 600;
    /**
     * Counter of the round
     */
    let current_round = 0;
    /**
     * Counter of the moves in the given round
     */
    let current_move = 0;

    /**
     * This value indicates which player is playing right now
     */
    let turn = null;
    let paused = false;

    /**
     * Waiting time for showing the next move in milliseconds
     */
    let waiting_time = 5000;
    function setup_board_pos() {
        for (let i = 0; i < 6; i++) {
            let x1 = 5 + (i * page_x / 14);
            let x2 = x1 + (page_x / 14);
            let x3 = x1 + (page_x / 28);
            board_positions.push({
                x1: page_x - x1, x2: page_x - x2, x3: page_x - x3,
                y1: page_y - 10, y2: page_y - 10, y3: page_y - (page_y / 3),
                color: i % 2 == 0 ? 'grey': 'brown'
            });
        }
        for (let i = 5; i > -1; i--) {
            let x1 = 5 + (i * page_x / 14);
            let x2 = x1 + (page_x / 14);
            let x3 = x1 + (page_x / 28);
            board_positions.push({
                x1, x2, x3, y1: page_y - 10, y2: page_y - 10, y3: page_y - (page_y / 3),
                color: i % 2 == 0 ? 'brown' : 'grey'
            });
        }
        for (let i = 0; i < 6; i++) {
            let x1 = 5 + (i * page_x / 14);
            let x2 = x1 + (page_x / 14);
            let x3 = x1 + (page_x / 28);
            board_positions.push({
                x1, x2, x3, y1: 10, y2: 10, y3: page_y / 3,
                color: i % 2 == 0 ? 'grey' : 'brown'
            });
        }
        for (let i = 5; i > -1; i--) {
            let x1 = page_x - 5 - (i * page_x / 14);
            let x2 = x1 - (page_x / 14);
            let x3 = x1 - (page_x / 28);
            board_positions.push({
                x1, x2, x3,
                y1: 10, y2: 10, y3: page_y / 3, color: i % 2 == 0 ? 'brown': 'grey'
            });
        }
        
        
        
        
    }
    /**
     * A function to create the initial board
     */
    function setup_board() {
        setup_board_pos();
        board = [];
        for (let i = 0; i < 24; ++i) board.push([]);
        for (let i = 0; i < 2; ++i) {
            board[0].push('black');
            board[23].push('white');
        }
        for (let i = 0; i < 5; ++i) {
            board[5].push('white');
            board[18].push('black');
            board[11].push('black');
            board[12].push('white');
        }
        for (let i = 0; i < 3; ++i) {
            board[7].push('white');
            board[16].push('black');
        }
    }
    function draw_triangles() {
        
        for (let i = 0; i < board_positions.length; i++) {
            let pos = board_positions[i];
            fill(pos.color);
            triangle(pos.x1, pos.y1, pos.x2, pos.y2, pos.x3, pos.y3);
        }
    }
    /**
     * A function that draws the board itself
     */
    function draw_board() {
        draw_triangles();
        for (let i = 0; i < 24; ++i) {
            for (let j = 0; j < board[i].length; j++) {
                let x = board_positions[i].x3;
                let y = board_positions[i].y1 + (i > 11 ? 1 : -1) * 15;
                y += (i > 11 ? 1 : -1) * (30 * j);
                fill(board[i][0]);
                circle(x, y, 30);
            }
        }
    }
    /**
     * Draws what AI is going against who
     */
    function draw_names()
    {
        // let x = page_x / 2;
        // let y = (page_y / 2)  + (page_y / 10);
        // fill('white');
        let render_str = gameplay['colors']['white'] + ' (white) VS  ' + gameplay['colors']['black'] + ' (black)';
        document.getElementById('competition-header').innerHTML = render_str;
        // text(render_str, x - render_str.length * 4, y);
    }
    /**
     * Draws how many pieces have been hit for each player
     */
    function draw_hits()
    {
        let x = page_x / 2 - 30;
        let y = (page_y / 2);
        if (hits['black'] != 0) {
            fill('black');
            circle(x - 15, y, 30);
            fill('white');
            text(hits['black'], x - 20, y + 5);
        }
        if (hits['white'] != 0) {
            fill('white');
            circle(x + 15, y, 30);
            fill('black');
            text(hits['white'], x + 10, y + 5);
        }
    }
    /**
     * Draws the rolled dies
     */
    function draw_dies()
    {
        let x = (page_x / 2) - dies.length * 22.5;
        let y = (page_y / 2) - (page_y / 10);
        for (let i = 0; i < dies.length; ++i)
        {
            fill('white');
            square(x + i * 30, y, 30);
            fill('black');
            text(dies[i] + '', x + i * 30 + 10, y + 15);
        }
    }


    function draw_turn()
    {
        if (turn != null)
        {
            let cont = "It's " + turn + "'s turn";
            let x = page_x / 2;
            let y = page_y / 1.3;
            fill(turn);
            text(cont, x - cont.length * 4, y);
        }
        
    }
    /**
     * Draws the current score of the game
     */
    function draw_scores()
    {
        let cont = 'Score: White ' + scores['white'] + " - " + 'Black ' + scores['black'];
        document.getElementById('score-count').innerHTML = cont;
    }

    /**
     * A function that makes the provided move to it
     */
    function make_a_move(move)
    {
        let direction = move.color == 'white' ? -1 : 1;
        dies = move.dies;
        turn = move.color;
        move.moves.forEach(function(m) {
            let start = parseInt(Object.keys(m)[0]);
            let finish = parseInt(start) + (m[start] * direction);
            // decreasing the number of hits here
            if (start == -1 || start == 24) {
                hits[move.color] -= 1;
            }
            // for moving a single piece
            if (start >= 0 && start < 24) {
                board[start].pop();
            }
            if (finish >= 0 && finish < 24) {
                // considering a hit
                if (board[finish].length == 1 && board[finish][0] != move.color) {
                    hits[board[finish][0]] += 1;
                    board[finish].pop();
                }
                board[finish].push(move.color);
            }
        });
    }

    /**
     * Provides the total score the winner achieved
     * by winning the round
     */
    function winning_score()
    {
        let counter = 0;
        for (let i = 0; i < board.length; ++i) {
            counter += board[i].length;
        }
        console.log('Remaining pieces are', counter);
        if (counter == 15) {return 2;}
        return 1;
    }
    /**
     * A function to apply the next move that is going to be made
     */
    function make_next_move()
    {
        if (!paused && current_round != gameplay.rounds.length)
            move_time += deltaTime;
        if (move_time > waiting_time) {
            let c_round = gameplay.rounds[current_round];

            let c_move = c_round.moves[current_move];
            make_a_move(c_move);
            current_move++;
            if (current_move == c_round.moves.length) {
                current_move = 0;
                current_round++;
                scores[c_round.winner] += winning_score();
                draw_scores();

                setup_board();

            }
            move_time = 0;
        }

    }

    function setup() {
        createCanvas(page_x, page_y);
        setup_board();
        draw_names();
        draw_scores();
    }

    function draw() {
        background(100);
        draw_board();
        draw_hits();
        draw_dies();
        make_next_move();
        draw_turn();
    }
    function fast_forward()
    {
        if (waiting_time == 5000) waiting_time = 500;
        else waiting_time = 5000;
    }
    function pause_game()
    {
        paused = !paused;
    }
</script>
<button class="btn btn-primary mb-3" onclick="fast_forward()">Fast Forward</button>
<button class="btn btn-primary mb-3" onclick="pause_game()">Pause</button>

{%endblock%}